.board{
    --grid-width: 120;
    --grid-height: 160;
    display: grid;
    width: 10px;
    height: 10px;
    grid-template: repeat(var(--grid-width), 1fr) / repeat(var(--grid-height), 1fr);
}

.square{
    display: grid;
    place-items: center;
}


.redButton {
    background-color: red;
    border-color: red;
}

.greenButton {
    background-color: green;
    border-color: green;
}

.blueButton {
    background-color: blue;
    border-color: blue;
}

.emptyButton {
    background-color: transparent;
    color: black;
}

